<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<h1>Product Details</h1>

<!-- Проверяем, есть ли продукт -->
<div th:if="${product != null}">
    <h2 th:text="${product.name}">Product Name</h2>
    <p><strong>Description:</strong> <span th:text="${product.description}">Description</span></p>
    <p><strong>Price:</strong> <span th:text="${product.price}">Price</span></p>
    <div th:if="${product.image != null}">
        <img th:src="'data:image/png;base64,' + ${product.image}" alt="Product Image" />
    </div>
    <p th:text="${product.category.name}"></p>
</div>

<!-- Если продукта нет, показываем сообщение -->
<div th:if="${product == null}">
    <p>Sorry, the product you're looking for does not exist.</p>
</div>

<!-- Ссылка на страницу всех продуктов -->
<a href="/products/products">Back to Products List</a>
</body>
</html>
